<footer id ='footer'>
    <div id="reserve-text">
        <p>@Lokesh pal. All rights are reserved </p>
    </div>
    <div id='links'>
        <p><a href="/"> Home</a></p>
        <p><a href=""> Friends</a></p>
        <p><a href="/user/sign-in"> Profile</a></p>
    </div>
</footer>
