<section id="'users-friends">
    
    <% if(locals.user){ %>
        <h4>Friends</h4>
        <% for(u of all_users) { %>
            <p><i class="fas fa-user"></i><a href="user/profile/<%= u.id %>"><%= u.name %></a></p>
        <% }%>    
    <% } %>
</section>