<div>
    <h1>Header part is here</h1>
    <ul>
        <% if (locals.user) { %>
            <li><%= user.name %></li>
            <li><a href="/user/sign-out">Sign-out</a></li>
        <% }else { %>
            <li><a href="/user/sign-in">Sign-in</a></li>
            <li><a href="/user/sign-up">Sign-up</a></li>
        <% } %>
    </ul>
</div>