<div id="header">
    
    <div id="logo">
        <p>Codeial</p>
    </div>
    <div id='auth-links'>
        <ul>
            <% if (locals.user) { %>
                <li><i class="fas fa-id-badge"></i> <%= user.name %></li>
                <li><a href="/user/sign-out"> <i class="fas fa-power-off"></i></a></li>
            <% }else { %>
                <li><a href="/user/sign-in"><i class="fas fa-right-to-bracket"></i> Sign-in</a></li>
                <li><a href="/user/sign-up"> <i class="fas fa-user-plus"></i> Sign-up</a></li>
            <% } %>
        </ul>
    </div>
    
</div>