<div id="header">
    
    <div id="logo">
        <p>Codeial</p>
    </div>
    <div id='auth-links'>
        <ul>
            <% if (locals.user) { %>
                <li><i class="fas fa-id-badge"></i> <%= user.name %></li>
                <li><a href="/user/sign-out">Sign-out</a></li>
            <% }else { %>
                <li><a href="/user/sign-in">Sign-in</a></li>
                <li><a href="/user/sign-up">Sign-up</a></li>
            <% } %>
        </ul>
    </div>
    
</div>