<link rel="stylesheet" href="CSS/home.css">
<link rel="stylesheet" href="CSS/post.css">
<div id="feed-post">
    <% if(locals.user) { %>
        <aside id="Groups">
            <h4>Groups</h4>
        </aside>
    <% } %>
    <article>
        <% if(locals.user) { %>
            <div class="post-box">
                <div id="post-box-heading">
                    <h1> <i class="fas fa-pen"></i> Posts</h1>
                </div>
                <div id="post-form">
                    <form action="/posts/create" id="new-post-form" method="post">
                        <textarea name="content" placeholder="what's in your mind?.." required></textarea>
                        <input class="button" type="submit" value="Post">
                    </form>
                </div>
                
            </div>
            <ul id="post-list">
                <% for(post of locals.posts){ %>
                    <li id="post-<%= post._id %>">
                        <%- include('_post')%>
                    </li>
                    <% } %>
            
            </ul>
            <% } else {%>
                <img id="welcome-image" src="../uploads/users/welcome-home.jpg" alt="welcome-home picture">
            <% } %>
    </article>
    <% if(locals.user) { %>
        <aside id="friend-side">
            <%- include('_friends')%>
        </aside>
    <% } %>
    
</div>

<!-- importing this script for creating the comments -->
<script src="/JS/home_postComment.js"></script>
<script src="/JS/home_post.js"></script>

<!-- import the script file for toggle likes,also run it over for the already present posts and comments on the page -->
<script src="JS/toggle_like.js"></script>
<script>
//     $(document).ready(function() {
//     $('.toggle-like-button').click(function() {
//         $(this).toggleClass('liked');
//     });
// });
$(document).ready(function() {
    $(' .toggle-like-button').each(function(){
        let self =this;
        let toggleLike =new ToggleLike(self);
    });
});
</script>