<h1>Hey, You can sign in here using email and password</h1>
<form action="/user/create-session" method="post">
    <input type="email" value="email" placeholder="Email" required>
    <input type="password" value="password" placeholder="password" required>
    <input type="submit" value="Sign In">
</form>