<link rel="stylesheet" href="/CSS/sign.css">
<div class="parent">
    <div class="child">
        <img src="../uploads/users/Sign-in.jpg" alt="">
    </div>
    <div class="child">
        <h1 id="form-heading">Sign-in</h1>
        <form action="/user/create-session" method="post">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input class="button" type="submit" value="Sign In"><br>
        </form>
        <p class="social-auth-icons">Sign in with google <a href="/user/auth/google"><i class="fab fa-google"></i></a></p>
    </div>
   
</div>
