#one-post {
  border: 1px solid #a5b9b1;
  margin: 3% 0%;
  border-radius: 7px 7px 0px 0px;
  background-color: white;
  color: gray;
  position: relative; }
  #one-post #post-content {
    color: white; }
    #one-post #post-content #post-user {
      width: inherit;
      padding: 3%;
      border-radius: 7px 7px 0px 0px;
      background-color: #41b03ae0; }
    #one-post #post-content p {
      height: 15vh;
      color: gray; }
    #one-post #post-content .delete-post-button {
      color: red;
      position: absolute;
      top: 5%;
      right: 2%; }
  #one-post #post-comments-box {
    padding: 2% 0% 2% 2%;
    background-color: #c0e468;
    color: blue; }
    #one-post #post-comments-box h4 {
      margin: 0;
      font-size: 1.5rem; }
    #one-post #post-comments-box form input {
      border: 0;
      background-color: transparent;
      border-bottom: 2px solid green;
      outline: none; }
    #one-post #post-comments-box form input[type=submit] {
      background-color: green;
      color: white;
      border-radius: 3px; }
